# node modules
node_modules/

# dotenv environment files
.env

# session files (baileys)
session.json
auth_info*
auth_info_baileys*
creds.json

# logs
*.log

# backup files
*.bak

# group settings
groupSettings.json

# media, cache, temp
tmp/
cache/
*.tmp
*.cache

# OS files
.DS_Store

# vscode
.vscode/

# dist
dist/
